{
  "extends": [
    "eslint-config-netlify"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.dev.js"
      }
    }
  },
  "globals": {
    "CMS_ENV": true
  },
  "rules": {
    "jsx-a11y/no-static-element-interactions": 0
  }
}
